{% extends "base_accueil.html" %}
{% block title %}ESign, une solution inédite pour la traduction LSF {% endblock %}
{% block content %}
	<header class="w3-container w3-light-grey" style="padding: 38px 16px" >
	<br/>
  	<h3 class=" w3-jumbo"> Modifiez un article</h3>
	</header>

	<div class="w3-row-padding w3-padding-small w3-container">
		<h1 id="team">Félicitations !</h1>
	</div>	
 	<div class="w3-content">
  		<div class="w3-two">
  			<p class="w3-text-grey"> 
			Votre article vient d'être modifié. <br/>
			</p>
    	</div>
  	</div>
{% endblock %}